@media screen and (max-width: 768px){
  .Sale_Artist{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    .Sale_Artist_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Sale_Artist_Name{
      height: 10%;
      width: 90%;
      display: flex;
      margin-left: 5%;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 6vw;
    }
    .Sale_Artist_Text{
      height: 30%;
      width: 80%;
      text-align: justify;
      hyphens: auto;
      word-spacing: -0.5px;
      font-family: "LTYPE";
      color: #dcdbbec4;
      font-size: 2.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5%;
      line-height: 15px;
    }
    .SalePage_Artist_Container{
      height: 50%;
      width: 100%;

      z-index: 1;
      position: relative;
      .SalePage_Artist_Container_Normal{
        max-height: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .SalePage_Artist_Container_Normal_Wrap{
          height: 80%;
          width: 100%;

          position: relative;

          border-radius: 10px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;

          .SalePage_Artist_Container_Name{
            position: absolute;
            color: #1e5761b6;
            font-size: 5vw;
            font-family: "ladyrose";
            bottom: 10%;
             width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
         
        }
        
      }
      .SalePage_Artist_Container_Active{
        max-height: 100%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .SalePage_Artist_Container_Active_Wrap{
            height: 80%;
            width: 100%;

            position: relative;

            border-radius: 10px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
          .SalePage_Artist_Container_Name_Active{
              position: absolute;
              color: #1e5761;
              bottom: 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
              font-size: 5vw;
              font-family: "ladyrose";
              z-index: 3;
          }
          
        }
      
      }
      .SalePage_Artist_Go_Left{
        position: absolute;
        color: #dcdbbed7;
        font-size: 6vw;
        top: 45%;
        left: 3%;
      }
      .SalePage_Artist_Go_Right{
        position: absolute;
        color: #dcdbbed7;
        font-size: 6vw;
        top: 45%;
        right: 3%;
      }
    }
    
  }
}