@media screen and (max-width: 768px){
  .Service_Salepage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .Service_Salepage_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Service_Salepage_Name{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 6vw;
    }
   .Service_Salepage_Text{
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dcdbbead;
    z-index: 3;
    font-family: "ttrun";
    font-size: 3vw;
    text-align: justify;
    text-indent: 30px;
    line-height: 18px;
    letter-spacing: 1px;
   }
   .Service_Salepage_Detail{
      height: 17%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      .Service_Salepage_Detail_Logo{
        width: 20%;
        height: auto;
      }
      .Service_Salepage_Detail_Name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
        color: #cc9933;
        font-family: "ladyrose";
        font-size: 4vw;
      }
      .Service_Salepage_Detail_Des{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .Service_Salepage_Detail_Des_Detail{
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .dot{
            background-color: #dcdbbead;
            border-radius: 50%;
            width: 2vw;
            height: 2vw;
            margin-right: 2%;
          }
          .Service_Salepage_Detail_Des1_Text{

            display: flex;
            flex-direction: row;
            color: #dcdbbead;
            font-family: "ladyrose";
            font-size: 2.5vw;
            line-height: 15px;


          }
        }
      }
   }
   .Service_Salepage_Phone{
    height: 3%;
    background-color: #1e5761;
    color: #dcdbbed4;
    font-size: 5vw;
    font-family: "clesmont";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    z-index: 3;
    border-radius: 50px;
   }
  }
}

@media screen and (min-width: 768px){
  .Service_Salepage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .Service_Salepage_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Service_Salepage_Name{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 4vw;
    }
   .Service_Salepage_Text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dcdbbead;
    z-index: 3;
    font-family: "CompagnonMedium";
    font-size: 1.5vw;
    text-align: justify;
    text-indent: 30px;
    line-height: 20px;
   }
   .Service_Salepage_Detail{
      height: 17%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      .Service_Salepage_Detail_Logo{
        width: 10%;
        height: auto;
      }
      .Service_Salepage_Detail_Name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
        color: #cc9933;
        font-family: "ladyrose";
        font-size: 2vw;
      }
      .Service_Salepage_Detail_Des{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .Service_Salepage_Detail_Des_Detail{
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .dot{
            background-color: #dcdbbead;
            border-radius: 50%;
            width: 0.5vw;
            height: 0.5vw;
            margin-right: 1%;
          }
          .Service_Salepage_Detail_Des1_Text{

            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            color: #dcdbbead;
            font-family: "ladyrose";
            font-size: 1.5vw;
            line-height: 30px;
          }
        }
      }
   }
   .Service_Salepage_Phone{
    height: 3%;
    background-color: #1e5761;
    color: #dcdbbed4;
    font-size: 3vw;
    font-family: "clesmont";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    z-index: 3;
    border-radius: 50px;
   }
  }
}
