@media screen and (max-width: 768px){
  .Trophies{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .Trophies_Name{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        font-family: "ladyrose";
        color: #cc6600;
        font-size: 5vw;
        margin-bottom: 10%;
    }
    .Trophies_banner{
      width: 100%;
      height: auto;
      margin-bottom: 5%;
    }
    .Trophies_Img{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 10%;
      .Trophies_Img_Img{
        width: 30%;
        height: auto;
      }
    }
    .Trophies_Text{
      width: 90%;
      color: #cddbbeac;
      font-family: "LucidaSansTypewriterOblique";
      font-size: 2vw;
      line-height: 13px;
      left: 1px;
      text-align: justify;
    }
  }
}

@media screen and (min-width: 768px){
  .Trophies{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .Trophies_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Trophies_Name{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        font-family: "ladyrose";
        color: #cc6600;
        font-size: 3.5vw;
        letter-spacing: 3px;
    }
    .Trophies_banner{
      width: 55%;
      height: auto;
    }
    .Trophies_Img{
      width: 70%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .Trophies_Img_Img{
        width: 30%;
        height: auto;
      }
    }
    .Trophies_Text{
      width: 55%;
      color: #cddbbeac;
      font-family: "LucidaSansTypewriterOblique";
      font-size: 1vw;
      line-height: 30px;
      text-align: left;
    }
  }
}