*{
  margin: 0;
  padding: 0;

}

@font-face {
  font-family: "CopperplateGothicBold";
  src: local("CopperplateGothicBold"),url("../../Components/assets/font/CopperplateGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: "LucidaSansTypewriterOblique";
  src: local("LucidaSansTypewriterOblique"),url("../../Components/assets/font/Lucida-Sans-Typewriter-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "CompagnonMedium";
  src:local("CompagnonMedium") ,url("../../Components/assets/font/Compagnon-Medium.otf") format("truetype");
}

@font-face {
  font-family: "clesmont";
  src: local("clesmont") ,url("../../Components/assets/font/clesmont.ttf") format("truetype");
}

@font-face {
  font-family: "ladyrose";
  src: local("ladyrose") ,url("../../Components/assets/font/ladyrose.otf") format("truetype");
}

@font-face {
  font-family: "LTYPE";
  src: local("LTYPE") ,url("../../Components/assets/font/LTYPE.TTF") format("truetype");
}

@font-face {
  font-family: "LTYPEB";
  src: local("LTYPEB") ,url("../../Components/assets/font/LTYPEB.TTF") format("truetype");
}

@font-face {
  font-family: "LTYPEBO";
  src: local("LTYPEBO") ,url("../../Components/assets/font/LTYPEBO.TTF") format("truetype");
}

@font-face {
  font-family: "LTYPEO";
  src: local("LTYPEO") ,url("../../Components/assets/font/LTYPEO.TTF") format("truetype");
}

@media screen and (max-width: 768px){
  .MainPage{
    height: 100%;
    width: 100%;
    background-color: black;
    .MainPage_Header{
      height: 10vh;
      width: 100%;
    }
    .MainPage_Welcome{
      height: 60vh;
      width: 100%;
    }
    .MainPage_Prize{
      height: 40vh;
      width: 100%;
    }
    .MainPage_AboutUs{
      height: 60vh;
      width: 100%;
    }
    .MainPage_WDWH{
      height: 100vh;
      width: 100%;
    }
    .MainPage_WWYG{
      height: 170vh;
      width: 100%;
    }
    .MainPage_Service{
      height: 100vh;
      width: 100%;
    }
    .MainPage_Artist{
      height: 70vh;
      width: 100%;
    }
    .MainPage_Gallery{
      height: 105vh;
      width: 100%;
    }
    .MainPage_Pricing{
      height: 40vh;
      width: 100%;
    }
    .MainPage_FAQ{
      height: 110vh;
      width: 100%;
    }
    .MainPage_Contact{
      height: 70vh;
      width: 100%;
    }
    .MainPage_Booking{
      height: 80vh;
      width: 100%;
    }
    .MainPage_Footer{
      height: 30vh;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px){
  .MainPage{
    height: 100%;
    width: 100%;
    background-color: black;

    .MainPage_Header{
      height: 10vh;
      width: 100%;
    }
    .MainPage_Welcome{
      height: 100vh;
      width: 100%;
    }
    .MainPage_Prize{
      height: 60vh;
      width: 100%;
    }
    .MainPage_AboutUs{
      height: 100vh;
      width: 100%;
    }
    .MainPage_WDWH{
      height: 170vh;
      width: 100%;
    }
    .MainPage_WWYG{
      height: 230vh;
      width: 100%;
    }
    .MainPage_Service{
      height: 150vh;
      width: 100%;
    }
    .MainPage_Artist{
      height: 100vh;
      width: 100%;
    }
    .MainPage_Gallery{
      height: 120vh;
      width: 100%;
    }
    .MainPage_Pricing{
      height: 50vh;
      width: 100%;
    }
    .MainPage_FAQ{
      height: 170vh;
      width: 100%;
    }
    .MainPage_Contact{
      height: 100vh;
      width: 100%;
    }
    .MainPage_Booking{
      height: 100vh;
      width: 100%;
    }
    .MainPage_Footer{
      height: 40vh;
      width: 100%;
    }
  }
}