@media screen and (max-width: 768px){
  .TrophyAwards{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .TrophyAwards_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .TrophyAwards_Name{
      margin-left: 5%;
      height: 10%;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 6vw;
    }
    .TrophyAwards_Text{
      height: 15%;
      width: 85%;
      text-align: center;
      margin-left: 5%;
      font-family: "LTYPE";
      color: #dcdbbec4;
      font-size: 2.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 15px;

    }
    .TrophyAwards_Container{
      height: 50%;
      width: 100%;

      z-index: 1;
      position: relative;
      .TrophyAwards_Container_Normal{
        max-height: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .TrophyAwards_Container_Normal_Wrap{
          height: 50%;
          width: 70%;
          transition: width 1s ease;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          .TrophyAwards_Container_Img_Img{
            width: 100%;
            height: auto;
            transition: width 1s ease;
            margin-bottom: 25%;
            opacity: 0.6;
          }
        }
        
      }
      .TrophyAwards_Container_Active{
        max-height: 100%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .TrophyAwards_Container_Active_Wrap{
            height: 70%;
            width: 100%;
            transition: width 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          .TrophyAwards_Container_Img_Img_Active{
            
            width: 100%;
            height: auto;
            transition: width 1s ease;

          }
          .TrophyAwards_Container_Name_Active{
            margin-top: 15%;
            transition: height 0.5s ease;
              color: #cc6600ae;
              font-size: 3vw;
              font-family: "ladyrose";
              margin-bottom: 5%;
              text-align: center;
          }
          .TrophyAwards_Container_Location_Active{
            font-family: "CompagnonMedium";
            font-size: 2.5vw;
            color: #dcdbbea2;
            text-align: center;
            margin-bottom: 3%;
          }
          .TrophyAwards_Container_Country_Active{
            font-family: "CompagnonMedium";
            font-size: 2.5vw;
            color: #dcdbbea2;
          }
        }
      
      }
      .TrophyAwards_Button_Container{
        height: 5%;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 7%;
        left: 20%;
        .TrophyAwards_Link{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20vw;
          height: 100%;
          bottom: 10%;
          color: #dcdbbebe;
          font-family: "LTYPE";
          font-size: 3vw;

          border-radius: 10px;
        }
        .TrophyAwards_Go_Left{
          display: flex;
          justify-content: center;
          color: #dcdbbebe;

          font-size: 8vw;
        }
        .TrophyAwards_Go_Right{
          display: flex;
          justify-content: center;
          color: #dcdbbebe;
          font-size: 8vw;
        }
      }
    }
    .TrophyAwarts_PhoneCall_Container{
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .TrophyAwarts_PhoneCall{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 90%;
        background-color: #1e5761;
        color: #dcdbbebe;
        font-family: "clesmont";
        font-size: 8vw;
      }
    }
    
  }
}