@media screen and (max-width: 768px){
  .YOEX{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .YOEX_Name{
      width: 90%;
      display: flex;
      flex-direction:column ;
      margin-left: 5%;
      font-family: "ladyrose";
      color: #cc6600;
      font-size: 5vw;
    }
    .YOEX_Img{
      width: 90%;
      height: auto;
    }
    .YOEX_Text{
      width: 90%;
      color: #cddbbeac;
      font-family: "LucidaSansTypewriterOblique";
      font-size: 2vw;
      letter-spacing: 1px;
      line-height: 13px;
      text-align: justify;
    }
  }
}

@media screen and (min-width: 768px){
  .YOEX{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .YOEX_Name{
      width: 90%;
      display: flex;
      flex-direction:column ;
      margin-left: 5%;
      font-family: "ladyrose";
      color: #cc6600;
      font-size: 2vw;
      letter-spacing: 1px;
    }
    .YOEX_Img{
      width: 55%;
      height: auto;
    }
    .YOEX_Text{
      width: 55%;
      color: #cddbbeac;
      font-family: "LucidaSansTypewriterOblique";
      font-size: 1vw;
      line-height: 30px;
    }
  }
}