@media screen and (max-width: 768px){
  .AboutUs{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    .AboutUs_BG{
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .AboutUs_Name{
      color: #cc6600;
      font-size: 7vw;
      height: 20%;
      width: 90%;
      display: flex;
      align-items: flex-end;
      margin-left: 5%;
      font-family: 'clesmont';
      letter-spacing: 2px;
      z-index: 1;
    }
    .AboutUs_Text{
      height: 20%;
      width: 90%;
      color: #dcdbbec4;
      font-family: "CompagnonMedium";
      font-size: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5%;
      z-index: 2;
    }
    .AboutUs_Button_Container{
      height: 10%;
      width: 95%;
      z-index: 1;
      display: flex;
      justify-content: end;
      align-items: center;
      .AboutUs_Button_Container_Button{
        height: 60%;
        width: 35%;
        background-color: #1e5761;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'ladyrose';
        font-size: 2.5vw;
        border-radius: 15px;
        z-index: 2;
        color: #dcdbbec2;
      }
    }
    .AboutUs_Video_Container{
      height: 40%;
      width: 90%;
      margin-left: 5%;
      margin-top: 5%;
      z-index: 1;
      .AboutUs_Video{
        width: 100%;
        height: 100%;
        z-index: 1;
        .About_Us_Video_Prop{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}