*{
  margin: 0;
  padding: 0;

}


@media screen and (max-width: 768px){
  .Anet{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    .Anet_Bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.8;
      object-fit: contain;
    }
    .Anet_Header{
      height: 10vh;
      width: 100%;
    }
    .Anet_Welcome{
      height: 40vh;
      width: 100%;
    }
    .Anet_Section1{
      height: 120vh;
      width: 100%;
    }
    .Anet_Porfolio{
      height: 120vh;
      width: 100%;
    }
    .Anet_Section2{
      height:100vh;
      width: 100%;
    }
    .Anet_Footer{
      height: 30vh;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px){
  .Anet{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    .Anet_Bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.8;
      object-fit: contain;
    }
    .Anet_Header{
      height: 10vh;
      width: 100%;
    }
    .Anet_Welcome{
      height: 100vh;
      width: 100%;
    }
    .Anet_Section1{
      height: 150vh;
      width: 100%;
    }
    .Anet_Porfolio{
      height: 150vh;
      width: 100%;
    }
    .Anet_Section2{
      height: 130vh;
      width: 100%;
    }
    .Anet_Footer{
      height: 40vh;
      width: 100%;
    }
  }
}