
@media screen and (max-width: 768px){
  .Contact_SalePage{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    .Contact_SalePage_Name{

        width: 100%;
        text-align: center;
        font-family: "clesmont";
        color: #cc6600;
        font-size: 5.5vw;
        margin-bottom: 10%;
    }
    .Contact_SalePage_GoogleMap{
      width: 100%;
      height: 30%;
      margin-bottom: 10%;
      .GoogleMap{
        border: none  ;
        height: 100%;
        width: 100%;
      }
    }
    .Contact_SalePage_Phone{
      height: 4%;
      width: 90%;
      color: #dcdbbe;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cc6600aa;
      font-family: "clesmont";
      font-size: 6vw;
      border-radius: 30px;
      margin-bottom: 10%;
    }
    .Contact_SalePage_Direction{
      height: 4%;
      width: 90%;
      color: #dcdbbe;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1e5761;
      font-family: "clesmont";
      font-size: 6vw;
      border-radius: 30px;
    }
   
    .Contact_SalePage_Infor{
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 8%;
      .Contact_SalePage_Infor_Detail{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        .Contact_SalePage_Infor_Detail_Name{
          color: #dcdbbe;
          font-family: "ladyrose";
          font-size: 2.5vw;
          width: 20%;
          display: flex;
          justify-content: end;
          margin-right: 8%;
        }
        .Contact_SalePage_Infor_Detail_Infor{
          width: 50%;
          color: #dcdbbe;
          font-family: "ttrun";
          letter-spacing: 1px;
          display: flex;
          font-size: 2.5vw;
          margin-bottom: 0.5%;
        }
        .Contact_SalePage_Infor_Detail_Logo{
          width: 50%;
          display: flex;
          flex-direction: row;
          .Contact_SalePage_Infor_Detail_Logo_Logo{
            width: 10%;
            height: auto;
            margin-right: 5%;
          }
        }
      }
    }
    .Contact_SalePage_Payment{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 10%;
      margin-bottom: 5%;
      .Contact_SalePage_Payment_Text{
        color: #cc6600;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "ladyrose";
        font-size: 4vw;
      }
      .Contact_SalePage_Payment_Img{
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .Contact_SalePage_Payment_Img_Img{
          width: 23%;
          height: auto;
        }
      }
    }
   
  }
}

@media screen and (min-width: 768px){
  .Contact_SalePage{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    .Contact_SalePage_Name{
        width: 100%;
        font-family: "clesmont";
        color: #cc6600;
        font-size: 2vw;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 2%;
        letter-spacing: 1px;
    }
    .Contact_SalePage_GoogleMap{
      width: 70%;
      height: 35%;
      .GoogleMap{
        border: none;
        height: 30vh;
        width: 100%;
      }
    }
    .Contact_SalePage_Phone{
      height: 5vh;
      width: 25%;
      color: #dcdbbe;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cc6600aa;
      font-family: "clesmont";
      font-size: 1.5vw;
      border-radius: 30px;
      margin-bottom: 2%;
    }
    .Contact_SalePage_Direction{
      height: 5vh;
      width: 25%;
      color: #dcdbbe;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1e5761;
      font-family: "clesmont";
      font-size: 1.5vw;
      border-radius: 30px;
      margin-bottom: 3%;
    }
   
    .Contact_SalePage_Infor{
      height: 100%;
      width: 80%;
      padding-left: 5%;
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      .Contact_SalePage_Infor_Detail{
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-direction: row;
        margin-bottom: 4%;
        .Contact_SalePage_Infor_Detail_Name{
          color: #dcdbbe;
          font-family: "ladyrose";
          font-size: 1vw;
          width: 30%;
          display: flex;
          justify-content: end;
          margin-right: 5%;
        }
        .Contact_SalePage_Infor_Detail_Infor{
          width: 60%;
          color: #dcdbbe;
          font-family: "ttrun";
          display: flex;
          font-size: 1.1vw;
          margin-bottom: 0.5%;
          margin-top: -1%;
        }
        .Contact_SalePage_Infor_Detail_Logo{
          width: 60%;
          display: flex;
          flex-direction: row;
          .Contact_SalePage_Infor_Detail_Logo_Logo{
            width: 10%;
            height: auto;
            margin-right: 5%;
          }
        }
      }
    }
    .Contact_SalePage_Payment{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 15%;
      width: 80%;
      .Contact_SalePage_Payment_Text{
        color: #cc6600;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "ladyrose";
        font-size: 2vw;
        margin-top: 2%;
        margin-bottom: 2%;
      }
      .Contact_SalePage_Payment_Img{
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3%;
        .Contact_SalePage_Payment_Img_Img{
          width: 12%;
          height: auto;
        }
      }
    }
   
  }
}
