@media screen and (max-width: 768px){
  .Artist{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .Artist_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Artist_Name{
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 6vw;
     
    }
    .Artist_Text{
      height: 10%;
      width: 80%;
      text-align: center;
      font-family: "LTYPE";
      color: #dcdbbec4;
      font-size: 2.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 15px;
    }
    .Artist_Container{
      height: 70%;
      width: 100%;

      z-index: 1;
      position: relative;
      .Artist_Container_Normal{
        max-height: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .Artist_Container_Normal_Wrap{
          height: 40%;
          width: 90%;
          background-image: linear-gradient( #cc66004b, #33333310);
          position: relative;
          transition: width 1s ease;
          border-radius: 10px;
          .Artist_Container_Img_Img{
            position: absolute;
            width: 100%;
            height: auto;
            transition: width 1s ease;
            bottom: 0;
            
          }
          .Artist_Container_Name{
            position: absolute;
            transition: height 0.5s ease;
            top: 5%;
            left: 3%;
            color: #dcdbbe9a;
            font-size: 3vw;
            font-family: "ladyrose";
            left: 10%;
          }
          .Artist_Container_Category{
            height: 10%;
            width: 100%;
            position: absolute;
            bottom: 0;
            transition: height 0.5s ease;
            background-color: rgba(0, 0, 0, 0.287);
            color: #dcdbbeb3;
            font-size: 1.2vw;
            font-family: "LTYPE";
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        
      }
      .Artist_Container_Active{
        max-height: 80%;
        height: 80%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .Artist_Container_Active_Wrap{
          height: 55%;
            width: 100%;
            background-image: linear-gradient( #cc660051, #33333310);
            position: relative;
            transition: width 1s ease;
            border-radius: 10px;
          .Artist_Container_Img_Img_Active{
            position: absolute;
            width: 100%;
            height: auto;
            transition: width 1s ease;
            bottom: 20%;
          }
          .Artist_Container_Name_Active{
            position: absolute;
            transition: height 0.5s ease;
            top: 5%;
              left: 10%;
              color: #dcdbbe9a;
              font-size: 4vw;
              font-family: "ladyrose";
          }
          .Artist_Container_Category_Active{
            height: 20%;
            width: 100%;
            position: absolute;
            bottom: 0;
            transition: height 0.5s ease;
            background-color: rgba(0, 0, 0, 0.287);
            color: #dcdbbeb3;
            font-size: 1.6vw;
            font-family: "LTYPE";
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      
      }
      .Artist_Button_Container{
        height: 5%;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 10%;
        left: 20%;
        .Artist_Link{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35vw;
          height: 100%;
          background-color: #1e5761;
          bottom: 10%;
          color: #dcdbbebe;
          font-family: "LTYPE";
          font-size: 3.5vw;
          left: 32.5%;
          border-radius: 10px;
        }
        .Artist_Go_Left{
          display: flex;
          justify-content: center;
          color: #dcdbbebe;

          font-size: 8vw;
        }
        .Artist_Go_Right{
          display: flex;
          justify-content: center;
          color: #dcdbbebe;

          font-size: 8vw;
        }
      }
      
    }
   

  }
}