@media screen and (max-width: 768px){
  .PrizeList{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.66);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .PrizeList_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .PrizeList_Container{
      height: 70%;
      width: 100%;
      background-color: white;
      z-index: 1;

      .Prize_Index{
        position: absolute;
        bottom: 10%;
        left: 47%;
        font-size: 2.5vw;
        font-family: "CompagnonMedium";
      }
      .PrizeList_Container_Prize{
        max-height: 80%;
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .PrizeList_Container_Prize_Img{
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: height 1s ease;
          .PrizeList_Container_Prize_Img_Img{
            width: 10%;
            height: auto;
            transition: height 1s ease;
          }
        }
        .PrizeList_Container_Prize_NamePrize{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 8%;
          font-family: 'ladyrose';
          font-size: 1vw;
          text-align: center;
          width: 80%;
          transition: height 0.5s ease;
        }
        .PrizeList_Container_Prize_Location{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3%;
          font-family: "CompagnonMedium";
          font-size: 1.5vw;
          text-align: center;
          transition: height 0.5s ease;
        }
        .PrizeList_Container_Prize_Country{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3%;
          font-family: "CompagnonMedium";
          font-size: 1.5vw;
          text-align: center;
          transition: height 0.5s ease;
        }
      }
      .PrizeList_Container_Prize_Active{
        max-height: 80%;
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .PrizeList_Container_Prize_Img_Active{
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: height 1s ease;
          .PrizeList_Container_Prize_Img_Img_Active{
            width: 20%;
            height: auto;
            transition: height 1s ease;
          }
        }
        .PrizeList_Container_Prize_NamePrize_Active{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 10%;
          font-family: 'ladyrose';
          font-size: 1.5vw;
          text-align: center;
          width: 80%;
          transition: height 0.5s ease;
        }
        .PrizeList_Container_Prize_Location_Active{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 5%;
          font-family: "CompagnonMedium";
          font-size: 2vw;
          text-align: center;
          transition: height 0.5s ease;
        }
        .PrizeList_Container_Prize_Country_Active{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 5%;
          font-family: "CompagnonMedium";
          font-size: 2vw;
          text-align: center;
          transition: height 0.5s ease;
        }
      }
    }
  }
}