@media screen and (max-width: 768px){
  .Booking{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .Booking_Name{
      width: 100%;
      color: #cc6600;
      font-size: 5.5vw;
      text-align: center;
      font-family: 'clesmont';
      letter-spacing: 2px;
      font-size: 5.5vw;
      margin-top: -20%;
    }
    .Booking_Text{
      width: 80%;
      height: 10%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "LTYPE";
      color: #dcdbbec4;
      font-size: 2.5vw;
      margin-bottom: 5%;
      line-height: 15px;
    }
    .Booking_Form{
      height: 10%;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      .Booking_Form_Value{
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #dcdbbec4;
        width: 95%;
        height: 60%;
        font-size: 3vw;
        padding-left: 5%;
        z-index: 3;
        font-family: "CompagnonMedium";
        color: #dcdbbec4;
        font-style: italic;
        &:focus{
          outline: none;
        }
      }
    }
    .Booking_Button{
      height: 8%;
      background-color: #1e5761;
      color: #dcdbbee7;
      font-size: 5vw;
      font-family: "clesmont";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-top: 5%;
      z-index: 3;
    }
    
  }
}

@media screen and (min-width: 768px){
  .Booking{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .Booking_Name{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 2vw;
      margin-top: 3%;
      letter-spacing: 1px;
    }
    .Booking_Text{
      width: 80%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "LTYPE";
      color: #dcdbbec4;
      font-size: 1vw;
      margin-top: 3%;
      margin-bottom: 1%;
    }
    .Booking_Form{
      height: 100%;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      .Booking_Form_Value{
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #dcdbbec4;
        width: 50%;
        height: 60%;
        font-size: 1.5vw;
        padding-left: 5%;
        z-index: 3;
        font-family: "CompagnonMedium";
        color: #dcdbbec4;
        &:focus{
          outline: none;
        }
      }
    }
    .Booking_Button{
      height: 5%;
      padding: 5px;
      background-color: #1e5761;
      color: #dcdbbec4;
      font-size: 1.5vw;
      font-family: "clesmont";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      margin-top: 2%;
      margin-bottom: 4%;
      z-index: 3;
    }
    
  }
}