
@media screen and (max-width: 768px){
  .SalePage{
    height: 100%;
    width: 100%;
    // background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
    background-color: rgba(0, 0, 0, 1); 
   position: relative;
    .SalePage_Bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.8;
      object-fit: contain;
    }
    .SalePage_Consultant{
      position: sticky;
      top: 0;
      height: 5vh;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.536);
      .SalePage_Consultant_Text{
        font-family: "ladyrose";
        color: #cb9833;
        font-size: 3vw;
      }
      .SalePage_Consultant_Logo{
        width: 7%;
        height: auto;
      }
    }
    .SalePage_Check{
      position: sticky;
      bottom: 0;
      width: 100%;
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "ladyrose";
        color: #cb9833;
        font-size: 3vw;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.66);
        cursor: pointer;
    }
    .SalePage_Header{
      height: 10vh;
      width: 100%;
    }
    .SalePage_Welcome{
      height: 50vh;
      width: 100%;
    }
    .SalePage_Break{
      height: 16vh;
      width: 100%;
    }
    .SalePage_OpenTime{
      height: 60vh;
      width: 100%;
    }
    .SalePage_WCU{
      height: 60vh;
      width: 100%;
    }
    .SalePage_Trohpy{
      height: 60vh;
      width: 100%;
    }
    .SalePage_Service{
      height: 200vh;
      width: 100%;
    }
    .SalePage_Artist{
      height: 60vh;
      width: 100%;
    }
    .SalePage_Gallery{
      height: 160vh;
      width: 100%;
    }
    .SalePage_Contact{
      height: 130vh;
      width: 100%;
    }
    .SalePage_Footer{
      height: 30vh;
      width: 100%;
    }
    .SalePage_Booking{
      height: 100vh;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px){
  .SalePage{
    height: 100%;
    width: 100%;
    // background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
    background-color: rgba(0, 0, 0, 1); 
   position: relative;
    .SalePage_Bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.8;
      object-fit: contain;
    }
    .SalePage_Consultant{
      position: sticky;
      top: 0;
      height: 8vh;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.536);
      .SalePage_Consultant_Text{
        font-family: "ladyrose";
        color: #cb9833;
        font-size: 1.5vw;
        margin-left: 5%;
        margin-right: 5%;
      }
      .SalePage_Consultant_Logo{
        width: 3%;
        height: auto;
      }
    }
    .SalePage_Check{
      position: sticky;
      bottom: 0;
      width: 100%;
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "ladyrose";
        color: #cb9833;
        font-size: 1.5vw;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.66);
        cursor: pointer;
    }
    .SalePage_Bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.8;
      object-fit: contain;
    }
    .SalePage_Header{
      height: 10vh;
      width: 100%;
    }
    .SalePage_Welcome{
      height: 90vh;
      width: 100%;
    }
    .SalePage_Break{
      height: 16vh;
      width: 100%;
    }
    .SalePage_OpenTime{
      height: 100%;
      width: 100%;
    }
    .SalePage_WCU{
      height: 100%;
      width: 100%;
    }
    .SalePage_Trohpy{
      height: 100%;
      width: 100%;
    }
    .SalePage_Service{
      height: 100%;
      width: 100%;
    }
    .SalePage_Artist{
      height: 100%;
      width: 100%;
    }
    .SalePage_Gallery{
      height: 100%;
      width: 100%;
    }
    .SalePage_Contact{
      height: 100%;
      width: 100%;
    }
    .SalePage_Footer{
      height: 40vh;
      width: 100%;
    }
    .SalePage_Booking{
      height: 100%;
      width: 100%;
    }
  }
}