
@media screen and (max-width: 768px){
  .SalePage{
    height: 100%;
    width: 100%;
    background-color: black;
    .SalePage_Header{
      height: 10vh;
      width: 100%;
    }
    .SalePage_Welcome{
      height: 50vh;
      width: 100%;
    }
    .SalePage_Break{
      height: 20vh;
      width: 100%;
    }
    .SalePage_OpenTime{
      height: 60vh;
      width: 100%;
    }
    .SalePage_WCU{
      height: 60vh;
      width: 100%;
    }
    .SalePage_Trohpy{
      height: 75vh;
      width: 100%;
    }
    .SalePage_Service{
      height: 170vh;
      width: 100%;
    }
    .SalePage_Artist{
      height: 60vh;
      width: 100%;
    }
    .SalePage_Gallery{
      height: 160vh;
      width: 100%;
    }
    .SalePage_Contact{
      height: 130vh;
      width: 100%;
    }
    .SalePage_Footer{
      height: 30vh;
      width: 100%;
    }
    .SalePage_Booking{
      height: 100vh;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px){
  
}