*{
  margin: 0;
  padding: 0;

}


@media screen and (max-width: 768px){
  .AboutPage{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    .AboutPage_Bg{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.6;
    }
    .AboutPage_Header{
      height: 10vh;
      width: 100%;
    }
    .Welcome_AboutPage{
      height: 40vh;
      width: 100%;
    }
    .AboutPage_About{
      height: 170vh;
      width: 100%;
    }
    .AboutPage_Artist{
      height: 170vh;
      width: 100%;
    }
    .AboutPage_YOEX{
      height: 55vh;
      width: 100%;
    }
    .AboutPage_Convention{
      height: 110vh;
      width: 100%;
    }
    .AboutPage_Trophies{
      height: 100vh;
      width: 100%;
    }
    .AboutPage_Prize{
      height: 80vh;
      width: 100%;
    }
    .AboutPage_Service{
      height: 110vh;
      width: 100%;
    }
    .AboutPage_Footer{
      height: 30vh;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px){
  .AboutPage{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    .AboutPage_Bg{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../Components/assets/ImgMobile/Background/MainBG1.png");
      opacity: 0.6;
    }
    .AboutPage_Header{
      height: 10vh;
      width: 100%;
    }
    .Welcome_AboutPage{
      height: 100vh;
      width: 100%;
    }
    .AboutPage_About{
      height: 280vh;
      width: 100%;
    }
    .AboutPage_Artist{
      height: 250vh;
      width: 100%;
    }
    .AboutPage_YOEX{
      height: 80vh;
      width: 100%;
    }
    .AboutPage_Convention{
      height: 160vh;
      width: 100%;
    }
    .AboutPage_Trophies{
      height: 150vh;
      width: 100%;
    }
    .AboutPage_Prize{
      height: 100vh;
      width: 100%;
    }
    .AboutPage_Service{
      height: 150vh;
      width: 100%;
    }
    .AboutPage_Footer{
      height: 40vh;
      width: 100%;
    }
  }
}