@media screen and (max-width: 768px){
  .AboutPage_Welcome{
    height: 100%;
    width: 100%;
    background-image: url("../../assets/ImgMobile/ImgAbout/Welcome.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .AboutPage_Welcome_Text{
      position: absolute;
      color: #dcdbbe8a;
      bottom: 15%;
      left: 10%;
      letter-spacing: 1.5px;
      font-size: 5vw;
      font-family: "CompagnonMedium";
    }
  }
}

@media screen and (min-width: 768px){
  .AboutPage_Welcome{
    height: 100%;
    width: 100%;
    background-image: url("../../assets/ImgMobile/ImgAbout/Welcome.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .AboutPage_Welcome_Text{
      position: absolute;
      color: #dcdbbe8a;
      bottom: 15%;
      left: 10%;
      letter-spacing: 1.5px;
      font-size: 3vw;
      font-family: "CompagnonMedium";
    }
  }
}