@media screen and (max-width: 768px){
  .AYR{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .AYR_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .AYR_Name{
      margin-left: 5%;
      height: 15%;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 6vw;
    }
    .AYR_Text{
      height: 30%;
      width: 85%;
      text-align: justify;
      margin-left: 5%;
      font-family: "LTYPE";
      color: #dcdbbec4;
      font-size: 2.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 15px;
      hyphens: auto;
      word-spacing: -0.5px;

    }
    .AYR_Img{
      height: 55%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .AYR_Img_Img{
        width: 33%;
        height: auto;
      }
    }
    
  }
}