@media screen and (max-width: 768px){
  .Service_AboutPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .Service_AboutPage_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Service_AboutPage_Name{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: "ladyrose";
      color: #cc6600;
      font-size: 5vw;
    }
    .Service_AboutPage_Text{
      width: 90%;
      color: #cddbbeac;
      font-family: "LucidaSansTypewriterOblique";
      font-size: 2vw;
      line-height: 13px;
      letter-spacing: 1px;
      text-align: justify;
    }
    .Service_AboutPage_Cate{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 12%;
      .Service_AboutPage_Cate_1{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-right: 1px solid #cc6600b2;
        .Service_AboutPage_Cate_1_logo{
          width: 30%;
          height: auto;
        }
        .Service_AboutPage_Cate_1_Name{
          color: #cc6600ab;
          font-family: "ladyrose";
          font-size: 3vw;
        }
      }
      .Service_AboutPage_Cate_2{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .Service_AboutPage_Cate_2_logo{
          width: 30%;
          height: auto;
        }
        .Service_AboutPage_Cate_2_Name{
          color: #cc660096;
          font-family: "ladyrose";
          font-size: 3vw;
        }
      }
    }
    .Service_AboutPage_Banner{
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px){
  .Service_AboutPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .Service_AboutPage_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .Service_AboutPage_Name{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: "ladyrose";
      color: #cc6600;
      font-size: 4vw;
    }
    .Service_AboutPage_Text{
      width: 90%;
      color: #cddbbeac;
      font-family: "LucidaSansTypewriterOblique";
      font-size: 1.5vw;
      text-align: justify;
      line-height: 30px;
    }
    .Service_AboutPage_Cate{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 15%;
      .Service_AboutPage_Cate_1{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-right: 1px solid #cc6600;
        .Service_AboutPage_Cate_1_logo{
          width: 20%;
          height: auto;
        }
        .Service_AboutPage_Cate_1_Name{
          color: #cc6600;
          font-family: "ladyrose";
          font-size: 2vw;
        }
      }
      .Service_AboutPage_Cate_2{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .Service_AboutPage_Cate_2_logo{
          width: 20%;
          height: auto;
        }
        .Service_AboutPage_Cate_2_Name{
          color: #cc6600;
          font-family: "ladyrose";
          font-size: 2vw;
        }
      }
    }
    .Service_AboutPage_Banner{
      width: 60%;
      height: auto;
    }
  }
}