@media screen and (max-width: 768px){
    .WDWH{
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.166);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      padding-bottom: 5%;
      padding-top: 3%;
      .WDWH_BG{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .WDWH_Name{
        color: #cc6600;
        font-size: 5.5vw;
        width: 80%;
        text-align: center;
        font-family: 'clesmont';
        letter-spacing: 2px;
      }
      .WDWH_Text_Container{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 15px;
        .WDWH_Text{
          width: 85%;

          text-align: center;
  
          font-family: "LTYPE";
          color: #dcdbbec4;
          font-size: 2.2vw;
          letter-spacing: 1px;
        }
      }
      .WDWH_Tag_Container{
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
   
  
        .WDWH_Tag{
          height: 100%;
          width: 60%;
          background-color: rgb(238, 238, 237);
          z-index: 3;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          position: relative;
          .WDWH_Tag_Logo{
            position: absolute;
            left: 5%;
            transform: translateY(-50%);
            top: 50%;
            width: 9%;
            height: auto;
          }
          .WDWH_Tag_Text{
            width: 80%;
            height: 100%;
            .WDWH_Tag_Text_Name{
              color: #cc6600;
              font-family: "clesmont";
              font-size: 3.3vw;
              width: 100%;
              display: flex;
              align-items: end;
              margin-top: 8%;
              margin-bottom: 3%;
            }
            .WDWH_Tag_Text_Des{
              display: flex;
              justify-content: center;
              align-items: center;

              color: black;
              font-family: "LTYPEBO";
              font-size: 2vw;
              width: 93%;
              line-height: 10px;
            }
          }
          .WDWH_Tag_Learn_More{
            position: absolute;
            font-family: "bebas";
            color: #1e5761;
            font-size: 2.8vw;
            bottom: 11%;
            right: 8%;
          }
        }
      }
    }
}

@media screen and (min-width: 768px){
  .WDWH{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .WDWH_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .WDWH_Name{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 2vw;
      margin-top: 3%; 
      letter-spacing: 3px;     
    }
    .WDWH_Text_Container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 30px;
      margin-top: 2.5%;  
      margin-bottom: 1%;   
      .WDWH_Text{
        width: 60%;
        text-align: center;
        font-family: "LTYPE";
        color: #dcdbbec4;
        font-size: 1vw;
      }
    }
    .WDWH_Tag_Container{
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: space-around;
      .WDWH_Tag{
        display: flex;
        height: 100%;
        width: 80%;
        background-color: white;
        z-index: 3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .WDWH_Tag_Logo{
          width: 12%;
          height: auto;
        }
        .WDWH_Tag_Text{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .WDWH_Tag_Text_Name{
            color: #cc6600;
            font-family: "clesmont";
            font-size: 1.3vw;
            margin-top: 5%;
          }
          .WDWH_Tag_Text_Des{
            color: black;
            font-family: "LTYPEBO";
            font-size: 0.7vw;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 5%;
            width: 80%;
            line-height: 1.5;
          }
        }
        .WDWH_Tag_Learn_More{
          font-family: "bebas";
          color: #1e5761;
          font-size: 1.5vw;
        }
      }
    }
  } 
}