@media screen and (max-width: 768px){
    .WDWH{
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.166);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      .WDWH_BG{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .WDWH_Name{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "clesmont";
        color: #cc6600;
        font-size: 6vw;
       
      }
      .WDWH_Text_Container{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 15px;
        .WDWH_Text{
          width: 85%;

          text-align: center;
  
          font-family: "LTYPE";
          color: #dcdbbec4;
          font-size: 2vw;
          letter-spacing: 1px;
        }
      }
      .WDWH_Tag_Container{
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
   
       
        .WDWH_Tag{
          height: 100%;
          width: 60%;
          background-color: white;
          z-index: 3;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: end;
          position: relative;
          .WDWH_Tag_Logo{
            position: absolute;
            left: 5%;
            top:25%;
            width: 9%;
            height: auto;
          }
          .WDWH_Tag_Text{
            width: 80%;
            height: 70%;
            .WDWH_Tag_Text_Name{
              height: 40%;
              color: #cc6600;
              font-family: "clesmont";
              font-size: 3.3vw;
              width: 100%;
              display: flex;
              align-items: end;
            }
            .WDWH_Tag_Text_Des{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 60%;
              color: black;
              font-family: "LTYPEBO";
              font-size: 2vw;
              width: 95%;
              line-height: 10px;
            }
          }
          .WDWH_Tag_Learn_More{
            font-family: "LTYPEB";
            color: #1e5761;
            font-size: 3vw;
            margin-right: 5%;
          }
        }
      }
    }
}

@media screen and (min-width: 768px){
  .WDWH{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .WDWH_BG{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .WDWH_Name{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "clesmont";
      color: #cc6600;
      font-size: 4vw;
     
    }
    .WDWH_Text_Container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
      line-height: 30px;
      .WDWH_Text{
        width: 85%;
        text-align: center;
        font-family: "LTYPE";
        color: #dcdbbec4;
        font-size: 1.5vw;
       
      }
    }
    .WDWH_Tag_Container{
      height: 12%;
      width: 100%;
      display: flex;
      margin-bottom: 7%;
      justify-content: center;
      align-items: center;
 
     
      .WDWH_Tag{
        height: 100%;
        width: 50%;
        background-color: white;
        z-index: 3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
        position: relative;
        .WDWH_Tag_Logo{
          position: absolute;
          left: 5%;
          top:25%;
          width: 9%;
          height: auto;
        }
        .WDWH_Tag_Text{
          width: 80%;
          height: 70%;
          .WDWH_Tag_Text_Name{
            height: 40%;
            color: #cc6600;
            font-family: "clesmont";
            font-size: 1.8vw;
            width: 100%;
            display: flex;
            align-items: end;
          }
          .WDWH_Tag_Text_Des{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            color: black;
            font-family: "LTYPEBO";
            font-size: 1vw;
            width: 95%;
            line-height: 25px;
          }
        }
        .WDWH_Tag_Learn_More{
          font-family: "LTYPEB";
          color: #1e5761;
          font-size: 1.5vw;
          margin-right: 5%;
        }
      }
    }
  } 
}