
@media screen and (max-width: 768px){
  .Welcome{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    .Welcome_BG_Change
    {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .Welcome_PageName{
      height: 50%;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: 5%;
      letter-spacing: 2px;
      z-index: 1;
      .Welcome_PageName_1{
        font-family: "CompagnonMedium";
        font-size: 7vw;
        color: #dcdbbec2;
        z-index: 1;
      }
      .Welcome_PageName_2{
        font-family: "clesmont";
        font-size: 8vw;
        color: #dcdbbe;
        z-index: 1;
      }
    }
    .Welcome_Text{
      width: 80%;
      height: 25%;
      display: flex;
      align-items: flex-end;
      font-size: 3vw;
      font-family: "CompagnonMedium";
      margin-left: 5%;
      color: #cc6600ca;
      line-height: 15px;
      z-index: 1;
    }
    .Welcome_Button{
      width: 90%;
      height: 25%;
      display: flex;
      justify-content: end;
      align-items: center;
      font-family: "LTYPEB";
      color: #1e5761;
      z-index: 1;
      .Welcome_Button_Text{
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 768px){
  
}